.middle-content {
  width: 100%;
  .inner-middle-content {
    width: 100%;
    margin-top: 100px;
    .top-content {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;

      @media screen and (max-width: 1100px) {
        flex-direction: column;
      }

      .left-top-content {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        img {
          width: 400px;
          height: 620px;

          @media screen and (max-width: 300px) {
            width: 250px;
            height: 400px;
          }
        }
        .experience {
          background: rgba(0, 33, 91, 0.85);
          position: absolute;
          left: 22px;
          bottom: 23px;
          padding: 15px;

          @media screen and (max-width: 300px) {
            left: 14px;
            bottom: 15px;
          }

          h2 {
            font-family: "Kanit";
            font-style: normal;
            font-weight: 900;
            font-size: 60px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #ffffff;
            margin: 0;
          }
          span {
            font-family: "Kanit";
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #ffffff;
          }
        }
      }

      .right-top-content {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 653px;
        gap: 10px;

        @media screen and (max-width: 1100px) {
          width: 100%;
          padding: 0 50px;
        }

        h6 {
          font-family: "Kanit";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 15px;
          text-transform: uppercase;
          color: #d2153d;
          margin: 0;
        }

        h2 {
          font-family: "Kanit";
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          line-height: 40px;
          color: #000000;
          margin: 0;

          @media screen and (max-width: 300px) {
            font-size: 25px;
            line-height: 30px;
          }
        }

        .content {
          background: #f9f9f9;
          padding: 25px 50px;

          @media screen and (max-width: 300px) {
            padding: 25px 20px;
          }
          p {
            font-family: "Lato";
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 28px;
            color: #000000;
          }
          h5 {
            font-family: "Kanit";
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: #000000;
            margin: 0;
          }
        }
      }
    }
  }
}
