*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Kanit", sans-serif;
}

#root {
  overflow: hidden;
}

ul,
li {
  list-style-type: none;
  padding: 0px;
}

.error {
  color: indianred;
  margin-top: 0.5rem;
}
